doctype html
html
    include common/_head
    body
        section.main-night
            .social
                a(href='#', class='')
                a(href='#')
                a(href='#')
            .menu
            .logo-about
                .icon-logo
                    img(src="assets/img/ava-crop.jpeg")
                .text
                    h1 Илья Сметанин
                    span Личный сайт веб-разработчика

        section.about-me
            h1 Обо мне
            img(src='assets/img/ava-crop.jpeg', class='about-pict')
            .text-about
                h2 Кто я
                p.text-about-me.
                    Я веб разработчик из Новосибирска. Мне 27 лет. 
                    Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент.
                    А пока посмотрите,как тут всё классно и красиво!

        section.advantages
            h2 Чем я могу быть вам полезен
            p.my-prof.
                Больше всего меня привлекет Frontend разработка, но я также знаком и
                могу решать не сложные задачи на Backend. Но давайте по порядку.
            .graphics
                .front
                    h3 Frontend
                    .diagrams
                        img(src='#', class='dia html5')
                        img(src='#', class='dia css3')
                        img(src='#', class='dia js')
                .back
                    h3 Backend
                    .diagrams
                        img(src='#', class='dia php')
                        img(src='#', class='dia mysql')
                        img(src='#', class='dia nodejs')
                        img(src='#', class='dia mongo')
                .workflow
                    h3 WorkFlow
                    .diagrams
                        img(src='#', class='dia git')
                        img(src='#', class='dia gulp')
                        img(src='#', class='dia bower')

        section.map
            .contacts
                h2 Контакты
                .first
                    span.skype cuprum661
                    span.mail cuprum19930@gmail.com

                .second
                    span.tel +79221350965
                    span.addres my-addres, 31, 54

        footer
            .info
                p.
                    Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

            .navigation-map
                ul
                    li
                        a(href='#') Мои работы
                    li
                        a(href='#') Обо мне
                    li
                        a(href='#') Блог
                    li
                        a(href='#') Авторизация
                .social
                    a(href='#', class='')
                    a(href='#')
                    a(href='#')

            .contacts
                ul
                    li cuprum661
                    li cuprum19930@gmail.com
                    li +79221350965
                    li my-addres, 31, 54

            .copyright
                span © Илья Сметанин | Создано с любовью в LoftSchool | 2016

