doctype html
html
    include common/_head
    body
        include common/main-night
        section.info-about-me
            h1 Обо мне
            img(src='assets/img/ava-crop.jpeg', class='about-pict')
            .text-about
                h2 Кто я
                p.text-about-me.
                    Я веб разработчик из Новосибирска. Мне 27 лет. 
                    Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент.
                    А пока посмотрите,как тут всё классно и красиво!

        section.advantages
            h2 Чем я могу быть вам полезен
            p.my-prof.
                Больше всего меня привлекет Frontend разработка, но я также знаком и
                могу решать не сложные задачи на Backend. Но давайте по порядку.
            .graphics
                .front
                    h3 Frontend
                    .diagrams
                        .dia.html5
                            img(src='./assets/img/skill-html.png')
                        .dia.css3
                            img(src='./assets/img/skill-css.png')
                        .dia.js
                            img(src='./assets/img/skill-css.png')
                .back
                    h3 Backend
                    .diagrams
                        .dia.php
                            img(src='./assets/img/skill-php.png')
                        .dia.mysql
                            img(src='./assets/img/skill-mysql.png')
                        .dia.nodejs
                            img(src='./assets/img/skill-node.png')
                        .dia.mongo
                            img(src='./assets/img/skill-mongo.png')
                .workflow
                    h3 WorkFlow
                    .diagrams
                        .dia.git
                            img(src='./assets/img/skill-git.png')
                        .dia.gulp
                            img(src='./assets/img/skill-gulp.png')
                        .dia.bower
                            img(src='./assets/img/skill-bower.png')

        section.map
            <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:700px;'><div id='gmap_canvas' style='height:440px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="https:/disclaimergenerator.net">disclaimer example</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(51.50829913491843,-0.12745789259031692),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(51.50829913491843,-0.12745789259031692)});infowindow = new google.maps.InfoWindow({content:'<strong>Title</strong><br>London, United Kingdom<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
            .contacts
                h2 Контакты
                .first
                    span.skype cuprum661
                    span.mail cuprum19930@gmail.com

                .second
                    span.tel +79221350965
                    span.addres my-addres, 31, 54

        include common/footer

