.admin__main.admin__main_3
    h2.admin__page.admin__page_about Страница "Блог"

    .admin__blog_form-wrapper
        h3.admin__skill_header Добавить работу
        form(name="admin_blog").admin__blog_form
            input(type="text", placeholder="Название проекта").admin__blog_form-title.admin__blog_form-inp
            input(type="text", placeholder="Технологии").admin__blog_form-date.admin__blog_form-inp
            input(type="file").admin__blog_form-picture

            input(type="submit", value="Добавить").admin__save