.admin__main.admin__main_1
    h2.admin__page.admin__page_about Страница "Обо мне"
    .admin__skills_wrapper
        .admin__skill.admin__skill_front
            h3.admin__skill_header Frontend
            ul.admin__skill_list.admin__skill_list-front
                li.admin__skill_item
                    span.admin__skill_name HTML
                    input(type="text").admin__skill_amount
                li.admin__skill_item
                    span.admin__skill_name CSS
                    input(type="text").admin__skill_amount
                li.admin__skill_item
                    span.admin__skill_name JavaScript
                    input(type="text").admin__skill_amount

        .admin__skill.admin__skill_back
            h3.admin__skill_header Backend
            ul.admin__skill_list.admin__skill_list-front
                li.admin__skill_item
                    span.admin__skill_name PHP
                    input(type="text").admin__skill_amount
                li.admin__skill_item
                    span.admin__skill_name Node.js
                    input(type="text").admin__skill_amount
                li.admin__skill_item
                    span.admin__skill_name Mongo.db
                    input(type="text").admin__skill_amount

        .admin__skill.admin__skill_workflow
            h3.admin__skill_header Workflow
            ul.admin__skill_list.admin__skill_list-front
                li.admin__skill_item
                    span.admin__skill_name Git
                    input(type="text").admin__skill_amount
                li.admin__skill_item
                    span.admin__skill_name Gulp
                    input(type="text").admin__skill_amount
                li.admin__skill_item
                    span.admin__skill_name Bower
                    input(type="text").admin__skill_amount

    button.admin__save Сохранить
