doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    div.overlay
      video.video#video(width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto")
        source(src="assets/img/night.mp4")
      div.mountains
        img(src="assets/img/mountains.png")

    a(href="#", class="log")
      div.login
        span Авторизоваться

    div.block
      div.icon-logo
        img(src="assets/img/ava-crop.jpeg")
      div.text
        h1 Илья Сметанин
        span Личный сайт веб-разработчика
      div.social
        a(href="http://vk.com/elijah_first")
          img(src="assets/img/vk.svg")
        a(href="https://github.com/ElijahFront")
          img(src="assets/img/github.svg")
        a(href="")
          img(src="assets/img/in.svg")

      div.nav
        a(href="#")
          div.btn.my-work Мои работы
        a(href="#")
          div.btn.about-me Обо мне
        a(href="#")
          div.btn.blog Блог

    div.copy
      span.copyright © Илья Сметанин | создано с любовью в LoftSchool | 2016