@font-face {
  font-family: SansusWebissimo;
  src: url('../fonts/Sansus-Webissimo-Regular.ttf');
}

.main-night{
  width: 100%;
  min-height: 650px;
  height: 100vh;
  background: url('../img/photo-night.jpg') center no-repeat;
  background-size: cover;
  //padding-top:153px;
  .social{
    position: absolute;
    top:31px;
    left: 30px;
  }
  .linked-in{
    fill: #FFF;
  }
  .github-svg{
    fill: #FFF;
  }
  .vk-svg{
    fill: #FFF;
  }

  .social a:hover {
    .linked-in {
      fill: #004cd1;
    }
    .vk-svg {
      fill: #004cd1;
    }
    .github-svg {
      fill: #004cd1;
    }
  }
  .menu{
    display: block;
    position: absolute;
    right:31px;
    top:28px;
    background: url('../img/hamburger.svg') center no-repeat;
    background-size: contain;
    height: 35px;
    width:40px;
    @include phone{
      height: 25px;
      width: 25px;
    }
  }
  .logo-about{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width:459px;
    padding-top: 20px;
    background: url('../img/star.png');
    background-size: contain;
    margin-left:auto;
    margin-right: auto;
    @include tablet{
      max-width: 309px;
    }
    .icon-logo{
      margin:0 auto;
    }
    .text {
      margin-top: 30px;
      text-align: center;
      h2 {
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 35px;
        font-weight: 500;
        line-height: 41px;
        margin-bottom: 7px;
      }
      span {
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }

  }
  .arrow{
    position: absolute;
    top: 75%;
    left:50%;
    margin-left: -13.5px;
    width: 27px;
    height: 20px;
    text-align: center;
    a{
      width: 100%;
      height: 100%;
      display: block;
    }
  }

}
.info-about-me, .advantages{
  box-sizing: border-box;
  position: relative;
  //margin-top: -340px;
  min-height:1010px;
  height:auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  @include tablet{
    float: none;
    width: 100%;
    background-image: none;
  }
}.info-about-me__bg{
   width:100%;
   position: absolute;
   bottom: 6px;
   left: 0;
   height: 140px;
   background: url('../img/bg-cream.svg') center no-repeat;
   background-size: cover;
  display: none;
  z-index: 0;
  @include tablet{
    display: block;
  }
 }
.info-about-me{
  z-index: 2;
  position: relative;
  float: left;
  background-color: #f2f0e8;
  @include tablet{
    //background: url('../img/bg-cream.svg') -50% -50% no-repeat #f3f0e8;
    background-color: #f3f0e8;
    //margin-top: -260px;
    height:auto;
    min-height: 710px;
    float: none;
  }
  h1{
    margin: 0;
    margin-top: -15px;
    color: #373e42;
    font-family: SansusWebissimo, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 66px;
    text-transform: uppercase;
    width: 185px;
    height: 121px;
    padding-top: 30px;
    background: url('../img/star4.png') top no-repeat;
    background-size: contain;
    @include tablet{
      margin-top: 5px;
      font-size: 49px;
      font-weight: 400;
      line-height: 52px;
    }
    @media all and(min-width: 1800px) {
      position: absolute;
      top:-26px;
      left: 79px;
      font-size: 63px;
      font-weight: 400;
      line-height: 66px;
      width: 262px;
    }
  }
  @media all and (min-width: 1800px) {
    align-items: flex-end;
    padding-right: 10px;
  }

  .about-pict{
    max-width:443px;
    max-height:390px;
    //margin-top: 59px;
    @include tablet{
      //width: 60%;
      max-width: 473px;
      margin-top: 50px;
    }
  }
  .text-about{
    text-align: center;
    width: 100%;
    max-width: 440px;
    height:auto;
    margin-bottom: 20px;
    h2{
      position: relative;
      margin-top: 41px;
      height: 25px;
      color: #474b57;
      font-family: SansusWebissimo, sans-serif;
      font-size: 35px;
      // font-weight: 400;
      line-height: 41px;
      text-transform: uppercase;
      &:after{
        display: block;
        content: '';
        position: absolute;
        bottom:-25px;
        left:50%;
        margin-left: -44.5px;
        width:89px;
        height:0;
        border:1.5px solid #566358;
      }
      @include tablet{
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
      }
    }
    .text-about-me{
      margin: 0;
      text-align: left;
      width:100%;
      margin-top: 39px;
      color: #474b57;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      @include tablet{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}
.advantages{
  padding-left: 39px;
  padding-right: 7px;
  min-height:1006px;
  height:auto;
  //transform: translateY(4px);
  float: right;
  background-color: #f4f5f0;
  @include tablet{
    //background: url('../img/bg-cream.svg') 0 -10% no-repeat;
    float: none;
    background: #f4f5f0;
    height:auto;
    min-height: 815px;
    margin-top: 0;
    transform: none;
  }
  h2{
    text-align: center;
    max-width: 253px;
    margin: 0;
    margin-top: -18px;
    color: #474b57;
    font-family: SansusWebissimo, sans-serif;
    font-size: 26px;
    // font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
    position: relative;
    &:after{
      display: block;
      content: '';
      position: absolute;
      bottom:-20px;
      left:50%;
      margin-left: -44.5px;
      width:89px;
      height:0;
      border:1.5px solid #566358;
    }
    @include tablet{
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      margin-top: 50px;
    }
  }
  .my-prof{
    margin-top: 62px;
    margin-bottom: 54px;
    width:100%;
    color: #474b57;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    @include tablet{
      margin-top: 40px;
      margin-bottom: 47px;
      font-size: 14px;
    }
  }
  .graphics{
    @include tablet{
      text-align: center;
      margin-bottom: 50px;
    }
    .front, .back, .workflow{
      margin-bottom: 40px;
      h3{
        color: #474b57;
        font-family: Roboto, sans-serif;
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        @include tablet{
          font-size: 21px;
          font-weight: 500;
          line-height: 28px;
        }
      }
      .diagrams{
        box-sizing: border-box;
        margin-top: 19px;
        @include phone{
          text-align: center;
        }
      }
    }
    .workflow{
      margin-bottom: 0;
    }
    .dia{
      display: inline-block;
      position: relative;
      width: 110px;
      height: 110px;
      margin-right: 37px;
      &:last-of-type{
        margin-right: 0;
      }
      &:after{
        position: absolute;
        top:53%;
        left:53%;
        transform: translate(-50%, -50%);

        color: #243994;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        text-align: center;
        font-weight: 500;
        line-height: 18px;
      }
      img{
        width:100%;
        height:100%;
      }
      }
    }

}
.info__inner-wrapper{
  text-align: center;
}
.mysql{
  @include points(530){
    margin-right: 0 !important;
  }
}
.advantages__wrapper{
  width:90%;
  margin-bottom: 30px;
}
.css3, .mysql, .gulp{
  @include phone{
    margin-right: 0 !important;
  }
}
.nodejs{
  @include points(620){
    margin-right: 0 !important;
  }
}
//@media all and (max-width: 481px) and (min-width: 469px) {
//  .nodejs{
//    margin-right: 37px !important;
//  }
//}
.html5:after{
  content: 'HTML5';
}
.css3:after{
  content: 'CSS3';
}
.js:after{
  content: 'JavaScript& jQuery';
}
.php:after{
  content: 'PHP';
}
.mysql:after{
  content: 'mySQL';
}
.nodejs:after{
  content: 'Node.js& npm';
}
.mongo:after{
  content: 'Mongo.db';
}
.git:after{
  content: 'Git';
}
.gulp:after{
  content: 'Gulp';
}
.bower:after{
  content: 'Bower';
}
.about__wrapper{
  width: 100%;
  height:auto;
  position: relative;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  @include tablet{

  }
}
.bg__about{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height:12.5rem;
  @include tablet{
    bottom: 100%;
  }
}
.bg__about-triangle_right{
  fill: #f4f5f0;
  @include tablet{
    fill: #f2f0e8;
  }
}
.bg__about-triangle_left{
  fill: #f2f0e8;
}
.map{
  position: relative;
  //padding-bottom: 153px;
  width: 100%;
  height: 100vh;
  min-height:650px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include phone{
    margin-top: 300px;
  }
}
.map-wrapper{
  width: 100%;
  height: 100%;
}
.about__contacts{
  box-sizing: border-box;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -70%);
  width: 47%;
  max-width: 580px;
  height: 283px;
  background-color: rgba(white, .7);
  z-index: 100000;
  h2{
    margin: 0;
    margin-top: 37px;
    padding:0;
    text-align: center;
    position: relative;
    color: #474b57;
    font-family: SansusWebissimo;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
    @include tablet{
      font-size: 30px;
      font-weight: 400;
      line-height: 41px;
    }
    @include phone{
      margin-top: 25px;
    }
    &:after{
      display: block;
      content: '';
      position: absolute;
      bottom:-25px;
      left:50%;
      margin-left: -44.5px;
      width:89px;
      height:0;
      border:1.5px solid rgba(#474b57, .5);
    }
  }
  @include points(954){
    min-width: 600px;
  }
  @include tablet{
    min-width: 20px;
    height: 394px;
  }
  @include phone{
    height: 300px;
    top: -300px;
    left: 0;
    width: 100%;
    transform: none;
  }
}
.map__contacts_list{
  box-sizing: border-box;
  margin: 0;
  margin-top: 62px;
  margin-left: 19px;
  padding: 0;
  max-height: calc(100% - 62px);
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include phone{
    margin-top: 42px;
  }
}
.map__list_item{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 54px;
  opacity: 0.8;
  color: #484b57;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 45px;
  position: relative;
  margin-bottom: 30px;
  &:before{
    display: block;
    content: '';
    position: absolute;
    top:0;
    left: 0px;
    width: 45px;
    height: 45px;
    @include phone{
      width: 34px;
      height: 34px;
      top:25px;
      left: 15px;
      transform: translate(-50%, -50%);
    }
  }
  @include tablet{
    margin-bottom: 20px;
  }
  @include phone{
    margin-bottom: 10px;
    padding-left: 43px;
    line-height: 34px;
  }
}
@mixin listit($name, $icon){
  .map__list_item-#{$name}:before{
    background: url('../img/#{$icon}.svg') center no-repeat;
    background-size: cover;
  }
};
@include listit(skype, skype_n);
@include listit(mail, envelope_n);
@include listit(tel, phone_n);
@include listit(adress, map_n);
//.map__list_item-mail{
//  margin-bottom: 0;
//}