.index-html{
  position: static;
}
#bl{
  transform-style: preserve-3d;
}
.block{
  box-sizing: border-box;
  //margin-top: 143px;
  width: 380px;
  height: 395px;
  background-color: rgba(28, 31, 41, 0.5);
  //margin-left: auto;
  //margin-right:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: rotateY(0deg);
  transition: transform 600ms;
  margin-left: -192px;
  margin-top: -190px;
  @include tablet{
    width:348px;
    margin-left: -174px;
  }
  @include phone{
    width:300px;
    margin-left: -150px;
  }
}
.icon-logo{
  margin: 0;
  padding: 0;
  position: relative;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  overflow: hidden;
    img{
      max-width:100%;
      max-height: 100%;
      position: absolute;
      top:0;
      left:0;
    }
}
.text{
  margin-top: 20px;
  h1{
    margin: 0;
    margin-bottom: 6px;
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
  }
  span{
    opacity: 0.8;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
  }
  margin-bottom: 35px;
}
.social{
  display: flex;
  justify-content:space-between;
  width:138px;
  align-items: center;
    a{
      display: inline-block;
      max-height: 22px;
      &:hover {
        .linked-in {
          transition-duration: 189ms;
          fill: rgb(0, 76, 209);
        }
        .vk-svg {
          transition-duration: 189ms;
          fill: rgb(0, 76, 209);
        }
        .github-svg {
          transition-duration: 189ms;
          fill: rgb(0, 76, 209);
        }
      }
        img{
          width:100%;
        }
    }
}
.index__social_list{
  list-style: none;
  display: flex;
  justify-content:space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  a{
    color: transparent;
  }
}
.index__socia_item{
  max-height: 22px;
  a{
    &:hover {
      .linked-in, .vk-svg, .github-svg {
        transition-duration: 189ms;
        fill: rgb(0, 76, 209);
      }
    }
    span{
      position: absolute;
      left: -9999px;
      color: transparent;
    }
  }
}
.nav{
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 0;
  position: absolute;
  top:100%;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
    .nav__btn:last-of-type {
      border:none;
    }
    .blog{
      padding-left:32px;
    }
    .about-me{
      padding-left: 32px;
    }

    .nav__btn:hover{
      background-color: rgba(4, 62, 163, 0.85);
    }
}
.nav__btn{
  flex-grow: 1;
  text-decoration: none;
  height:45px;
  background-color: rgba(0, 76, 209, 0.85);
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  //padding-left: 31px;
  //padding-right: 30px;
  padding: 0 auto;
  border-right: 2px solid rgba(222, 227, 231, 0.5);
  transition-duration: 189ms;
}
.flipped{
  //animation-name: rotate;
  //animation-duration: 1s;
  transform: rotateY(180deg);
  transition: transform 600ms;
}
@keyframes rotate {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(180deg);
  }
}