.circle{
  circle {
    transform: rotate(-90deg);
    fill: rgba(0, 0, 0, 0);
    stroke-width: 20;
    stroke: #dfdcd5;
    &:last-of-type {
      stroke: #1057d1;
    }
  }
}
@include skill(html5, 92)
@include skill(css3, 70)
@include skill(js, 40)
@include skill(php, 30)
@include skill(mysql, 10)
@include skill(nodejs, 50)
@include skill(mongo, 30)
@include skill(git, 60)
@include skill(gulp, 60)
@include skill(bower, 95)
