$transitionDuration : 300ms;


.slider__pict{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: sll 200ms;
}

.btn-up .slider__pict{
  transform: translate(-50%,150%);
}


.btn-down .slider__pict{
  transform: translate(-50%, -195%);
  &.slider__pict_to-down{
    transform: translateY(155%);
    transition: transform 0ms linear;
  }
}
.slider__pict.active{
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear;
}

.slider__description_item{
  display: none;
}
.slider__description_item.active{
  display: block;
}
.slider__pict_to-up{
  transform: translate3d(0, -155%, 0) !important;
  transition: transform 300ms linear !important;
}