body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@import 'common/mountains-welcome';
@import "block-info";


@media all and (min-width: 768px) and (min-height: 1024px){
  .block{
    margin-top: 275px;
  }
}

@media all and  (min-width: 1200px){
  .block, .block-login{
    margin-top: 143px;
  }
  .mountains{
    max-height: 148px;
      img{
        width:115%;
      }
  }
  .login{
    right:20px;
  }
}
@media all and (min-width: 1800px){
  .block{
    margin-top: 248px;
  }
  .mountains{
    max-height: 270px;
  }
}
@media all and (max-width: 320px) {
  .log{
    position: absolute;
    left:50%;
    top:10px;
    transform: translateX(-100%);
  }
}
.linked-in{
  fill: #004cd1;
}
.github-svg{
  fill: #004cd1;
}
.vk-svg{
  fill: #004cd1;
}

.social a:hover {
  .linked-in {
    fill: #FFF;
  }
  .vk-svg {
    fill: #FFF
  }
  .github-svg {
    fill: #FFF
  }
}