.menu
    .menu__left
    .menu__right
    a.menu__close-btn#menu__close
    .menu__content
        ul.menu__list
            li.menu__list_item
                a(href="/works").menu__list_item-link Мои работы
            li.menu__list_item
                a(href="/blog").menu__list_item-link Блог
            li.menu__list_item
                a(href="/about").menu__list_item-link Обо мне
            li.menu__list_item
                a(href="/").menu__list_item-link Авторизация