.menu
    a.menu__close-btn#menu__close
    .menu__content
        ul.menu__list
            li.menu__list_item
                a(href="Works.html").menu__list_item-link Мои работы
            li.menu__list_item
                a(href="Blog.html").menu__list_item-link Блог
            li.menu__list_item
                a(href="About.html").menu__list_item-link Обо мне
            li.menu__list_item
                a(href="index.html").menu__list_item-link Авторизация
